node_modules/
Vendor/
tmp/
Plugin/


# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
ember-cats/dist
ember-cats/tmp

# dependencies
ember-cats/node_modules
ember-cats/bower_components/*

# misc
/ember-cats/.sass-cache
/ember-catsconnect.lock
/ember-catscoverage/*
/ember-cats/libpeerconnection.log
/ember-cats/npm-debug.log
/ember-cats/testem.log
